<h1>Directivas Estructurales</h1>
<hr>

<div class="row">
  <div class="col-md-6">
    <h3>*ngIf</h3>
    <hr>
    <button type="button" class="btn btn-outline-primary btn-block" name="button" (click)="mostrar=!mostrar">Mostrar/Ocultar</button>
    <br>
    <div class="card card-inverse card-primary mb-3 text-center" *ngIf="mostrar">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <p>{{ texto }}</p>
          <footer>Autor: <cite title="Source Title">{{autor}}</cite></footer>
        </blockquote>
      </div>
    </div>

  </div>

  <div class="col-md-6">
    <h3>*ngFor</h3>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let pj of personajes, let i=index">{{i+1}}- {{pj}}</li>
    </ul>
  </div>
</div>
